/* src/Title.css */
@font-face {
  font-family: 'Pirulen';
  src: url('../../public/Orbitron.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.title-container {
  position: absolute;
  top: 20px; /* Adjust this value as needed */
  left: 50%;
  transform: translateX(0%); /* Center the container horizontally */
  width: 100%;
  text-align: center;
  padding-right: 20px;
  display: flex;
  align-items: center;
  z-index: 111;
}
.title {
  font-family: 'Orbitron', sans-serif;
  font-size: 15px;
  color: #fff;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-shadow: none;
  margin: 0;
}

.btn {
  margin-left: 10px; /* Add some spacing between the title and buttons */
  padding: 5px 8px;
  font-family: 'Orbitron', sans-serif;
  font-size: 14px;
  background-color: transparent;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  transition: transform 0.3s ease;
  z-index: 12;
}

.btn:hover {
  cursor: pointer;
  transform: scale(1.1);
  background-color: transparent;
  color: #000;
}

.icon {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
  width: 18px; /* Adjust this value to your desired size */
  height: 18px; /* Adjust this value to your desired size */
}

.nav {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.nav-item {
  font-family: 'Orbitron', sans-serif;
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
  font-size: 1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: color 0.3s;
}

.nav-item:hover {
  color: #ffd700;
}