/* src/Title.css */
@font-face {
  font-family: 'Pirulen';
  src: url('../../public/Orbitron.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.header {
  position: fixed;
  top: -10px; /* Changed from top: -10; */
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  padding: 20px 0;
  z-index: 100;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.title {
  font-family: 'Orbitron', sans-serif;
  font-size: 15px;
  text-align: right;
  color: #fff;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-shadow: none;
  margin: 0;
  display: block; /* Add this line */
}

.nav {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.nav-item {
  font-family: 'Orbitron', sans-serif;
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
  font-size: 1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: color 0.3s;
}

.nav-item:hover {
  color: #ffd700;
}